<h2>Thank You!</h2>

<p>Thanks for your suggestion. We will consider it and get back to you shortly.</p>

<p>In the meantime, here is a copy of your movie suggestion for your records.</p>

<h3>Movie Title: <%= name %></h3>

<h3>Released: <%= released %></h3>

<h3>Runtime: <%= runtime %></h3>

<h3>Rating: <%= rating %></h3>

<h3>Categories</h3>
<pre><%= categories %></pre>

<h3>Recommendations</h3>
<pre><%= recommendations %></pre>

<p><a href="/movies">Return to the movies list</a></p>